extends base
include _reviewCard

block append head
  script(src='https://api.mapbox.com/mapbox-gl-js/v0.54.0/mapbox-gl.js')
  link(href='https://api.mapbox.com/mapbox-gl-js/v0.54.0/mapbox-gl.css' rel='stylesheet')


mixin overviewBox(label, text, icon)
  .overview-box__detail
    svg.overview-box__icon
      use(xlink:href=`/img/icons.svg#icon-${icon}`)
    span.overview-box__label= label
    span.overview-box__text= text

block content
  section.section-header
    .header__hero
      .header__hero-overlay &nbsp;
      img.header__hero-img(src=`/img/mentors/mentormenti`, alt=`mentormenti`)

    .heading-box
      h1.heading-primary
        span= `${mentor.name} mentor`
      .heading-box__group
        .heading-box__detail
          svg.heading-box__icon
            use(xlink:href='/img/icons.svg#icon-clock')
          span.heading-box__text= `${mentor.duration} Hours Max-Hours`
        .heading-box__detail
          svg.heading-box__icon
            use(xlink:href='/img/icons.svg#icon-map-pin')
          span.heading-box__text= mentor.company

  section.section-description
    //- .overview-box
    //-   div
    //-     .overview-box__group
    //-       h2.heading-secondary.ma-bt-lg Quick facts
     main.main
    .loginsend-form
      h2.heading-secondary.ma-bt-lg 
      form.form.form--loginsend
        .form__group
          label.form__label(for='id') 
          input#mentorid.form__input(placeholder='subject',value=mentor._id,type="hidden")
        .form__group
          label.form__label(for='id')
          input#mentormail.form__input(placeholder='subject',value=mentor.email,type="hidden")
        .form__group
          label.form__label(for='subject') Subject
          input#subject.form__input(type='text', placeholder='subject', required)
        .form__group.ma-bt-md
          label.form__label(for='compose') Report
          textarea#compose.form__input(placeholder='write your report here', required, rows='4' cols='50')

        .form__group
          button.btn.btn--green send report